.our-project {
  background-color: #fff;
  padding: 100px 0;
  .container {
    display: flex;
    flex-direction: column;
    .nav-our-project {
      display: flex;
      justify-content: space-between;
      align-items: center;

      color: #282938;
      margin: -16px;
      & > * {
        margin: 16px;
        flex: calc(50% -32px);
      }
      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
      }
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        img {
          margin-left: 16px;
        }
      }
    }

    .box-our-project {
      display: flex;
      justify-content: space-between;
      display: flex;
      width: 100%;
      margin-top: 80px;
      .box-left {
        background-image: url("../img/Card.svg");
        width: 843px;
        height: 600px;
        display: flex;
        color: #ffffff;
        & > * {
          flex-basis: 50%;
        }
        .left-part {
          background: linear-gradient(
            329.39deg,
            #1c1e53 -10.96%,
            rgba(28, 30, 83, 0.42) 103.96%
          );
          padding: 48px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
          }
          p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            opacity: 0.8;
          }
          .link {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #fcd980;
            margin-top: 50px;
            span {
              img {
                margin-left: 10px;
              }
            }
          }
        }
        .right-part {
        }
      }
      .box-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: -16px;
        & > * {
          margin: 16px;
          flex: calc(50% -32px);
        }
        .up-grid {
          background-image: url("../img/Rectangle\ 1313.svg");
          height: 284px;
          width: 414px;

          .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: linear-gradient(
              329.39deg,
              #1c1e53 -10.96%,
              rgba(28, 30, 83, 0.42) 103.96%
            );
            width: 100%;
            height: 100%;
            padding: 48px;
            h3 {
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
            }
            .link {
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 28px;
              color: #fcd980;
            }
          }
        }
        .bottom-grid {
        }
      }
    }
  }
}
